/* 01.base Start ------------------------------ */
:root {
    --th-c-1: #004F51;
    --th-c-2: #FFB400;
    --th-c-3: #EBEFE9;
    --th-c-4: #000;
    --th-c-5: #fff;
    --th-fs-1: 40px;
    --th-fs-2: 24px;
    --th-fs-3: 18px;
    --th-font-1: "Kumbh Sans", sans-serif;
}

/* html {
    font-size: 62.5%;
}

body {
    color: #222;
    font-size: 1.6rem;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--th-c-1);
    font-family: var(--th-font-1);
    font-weight: 700;
    line-height: 120%;
}

h1 {
    font-size: var(--th-fs-1);
}

h2 {
    font-size: var(--th-fs-2);
}

h3 {
    font-size: var(--th-fs-3);
}

p {
    font-family: var(--th-font-1);
    font-size: var(--th-fs-3);
    font-weight: 400;
    line-height: 160%;
}

a {
    font-family: var(--th-font-1);
    font-size: var(--th-fs-3);
    font-weight: 400;
    line-height: 122%;
    text-decoration: none;
}

.th-btn {
    padding: 10px 40px;
    font-size: var(--th-fs-3);
    color: #FFF;
    font-family: var(--th-font-1);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    text-align: center;
}

.th-btn-1 {
    border: 1px solid var(--th-c-5);
    font-weight: 300;
    background-color: transparent;
    color: var(--th-c-5);
}

.th-btn-2 {
    background-color: var(--th-c-2);
    color: var(--th-c-1);
}

.th-btn-3 {
    background-color: var(--th-c-1);
    color: var(--th-c-2);
}

/* Scroll Bar style start */

::-webkit-scrollbar {
    /* width */
    width: 6px;
}

::-webkit-scrollbar-track {
    /* Track */
    background-color: var(--th-c-4);
}

::-webkit-scrollbar-thumb {
    background-color: var(--th-c-1);
    border-radius: 20px;
}


/* Scroll Bar style End */


/* ------------- base End ------------- */


/* 02. Scetion Start ------------------------------ */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(25px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: start;
    margin: 0;
    padding: 0;
}

.header li {
    margin-right: 20px;
}

.header li {
    margin-right: 20px;
}

.header a {
    color: var(--th-c-5);
    letter-spacing: 1px;
}

.header menu a {
    font-weight: 400;
    font-style: normal;
}

.header .nav-logo a {
    font-size: var(--th-fs-2);
    font-weight: 700;
    letter-spacing: 5.28px;
}

/* -------------  Scetion  End ------------- */

/* 03. Hero Banner Scetion Start ------------------------------ */

.hh-box {
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

.hhb {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.hhb-text {
    width: 100%;
    max-width: 800px;
}

.hhb-text h1 {
    color: #FFF;
    line-height: 150%;
    /* 60px */
    letter-spacing: 8px;
    text-transform: uppercase;
}

.hhb-text p {
    color: #FFF;
    width: 100%;
    max-width: 500px;

}

/* ------------- Hero Banner End ------------- */

/* 04. Enviromental Scetion Start ------------------------------ */

.enviromental-box {
    background: rgba(255, 253, 246);
    box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    transform: translate(0, -50%);
}

.enviromental-box .row {

    background: linear-gradient(rgba(0, 79, 81, 0.55), rgba(0, 79, 81, 0.00));
    padding: 30px 80px !important;
    margin: 0;
}

.eb-box {
    padding: 20px;
}

.eb-box img {
    width: 35px;
}

.enviromental-box .row .col-md-4:nth-child(2) .eb-box {
    border-left: 1px solid var(--th-c-1);
    border-right: 1px solid var(--th-c-1);
}

/* ------------- Enviromental End ------------- */
/* 05. About Us Scetion Start ------------------------------ */
.au-bottom-img {
    position: relative;
    top: -200px;
}

/* ------------- About Us End ------------- */
/* 06. We Do Scetion Start ------------------------------ */
.we-do {
    padding: 60px 0px;
}

/* .we-do h1{
  color: var(--th-c-1) !important;
} */

.wd-box {
    position: relative;
}

.wd-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all .4s;
    padding: 20px;
}


.wd-text h3 {
    font-size: var(--th-fs-2);
    color: var(--th-c-3);
    position: relative;
    z-index: 10;
    user-select: none;
}

.wd-text p {
    margin: 50px 0px;
    font-size: var(--th-fs-3);
    color: var(--th-c-3);
    position: relative;
    z-index: 10;
    user-select: none;
}

.wd-text .th-btn {
    position: relative;
    z-index: 10;
}

.wd-text::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 79, 81, 0.92);
    transform-origin: left bottom;
    transform: scale(0, 0);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transition: all .2s;
}

.wd-box:hover .wd-text::before {
    transform: scale(1, 1);
}

.wd-box:hover .wd-text {
    opacity: 1;
}

/* ------------- We Do End ------------- */

/* 07. Contribut To A Scetion Start ------------------------------ */
.contribut-to {
    padding: 100px 0px;
    background: url(../image/contribut-to.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ct-box {
    padding: 70px 0px;
    background: rgba(255, 255, 255, 0.40);
    backdrop-filter: blur(31.25px);
}

.ctb {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    color: var(--th-c-5);
}

.ctb h4,
.ctb p {
    color: var(--th-c-5);
}

.ctb-h h4 {
    text-transform: uppercase;
    color: var(--th-c-5);
}

.ctb-h h1 {
    text-transform: uppercase;
    color: var(--th-c-1);
    font-size: calc(var(--th-fs-1)*2);
}

/* ------------- Contribut To A End ------------- */
/* 08. Work with us Scetion Start ------------------------------ */
.work-with-us {
    padding: 80px 0px;
}

.wwu-box {
    max-width: 80%;
    display: flex;
    gap: 20px;
    margin: 20px 0px;
}

.wwu-y-box {
    width: 10px;
    height: 100%;
    background-color: var(--th-c-2);
}

.wwu-right {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wwu-right h3 {
    text-transform: uppercase;
    line-height: 160%;
    /* 28.8px */
    letter-spacing: 1.26px;
}

.wwu-right p {
    margin-top: 20px;
    margin-bottom: 0;
}


/* ------------- Work with us End ------------- */
/* 09. Events and Updates Scetion Start ------------------------------ */
.event {
    background-color: var(--th-c-1);
    padding: 80px 0;
}

.event .e-heah h1 {
    color: var(--th-c-5);
    text-transform: uppercase;
    line-height: 150%;
}

.event .e-heah h1 .and {
    color: var(--th-c-2);
}

.event .e-heah p {
    color: var(--th-c-3);
}

.eb-tab {
    background: #006466;
    padding: 20px;
    margin-bottom: 20px;
}

.eb-tab.active .ebt-h p {
    color: var(--th-c-2);
}

.ebt-h {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.ebt-h p {
    color: var(--th-c-5);
    margin: 0;
    transition: all .5s;
}

.ebt-h .ebt-h-icon .fal {
    color: var(--th-c-2);
    font-size: var(--th-fs-3);
}

.ebt-body {
    overflow: hidden;
    margin-top: 10px;
}

.ebt-body p {
    color: var(--th-c-5);
}

.ebt-body a {
    color: var(--th-c-2);
    text-decoration: underline;
}
.eb-right{
    position: relative;
}
.ebs-bo {
    padding: 15px 10px;
    background: rgba(0, 79, 81, 0.41);
    backdrop-filter: blur(11px);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.ebs-bo p{
   color: var(--th-c-5);
}
.ebs-bo .far{
   color: var(--th-c-2);
   font-size: var(--th-fs-3);
   cursor: pointer;
}

/* ------------- Events and Updates End ------------- */